* {
    margin: 0;
    padding: 0;
}

#landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    gap: 3px;
}

.container {
    border: 1px solid black;
    flex: 0.25;
}

#main-content {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.content-div {
    flex:1;
    border: 1px solid black; 
}

#header {
    display: flex;

} 

.header-content {
    flex:1;
    border: 1px solid black; 
}